.advantages__intro {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @header-bg;
  padding-left: 30px;
  padding-right: 30px;
}

.advantages__gray--background {
  padding-bottom: 255px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom -40px center;
  background-color: @advantages-bg;
}

.advantages__list {
  margin-bottom: 45px;
}

.advantages__item {
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  margin-bottom: 40px;
}

.advantages__item h3 {
  font-size: 18px;
  font-weight: 700;
  color: @black;
}

.advantages__item span {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: @header-bg;
}
