.applications {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: @main-bg;
  padding-top: 20px;
  align-items: center;
  color: @white;

  @media (min-width: @tablet-width) {
    background-color: @transparent;
  }
}

.applications__link {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 17px;
  padding-right: 18px;
}

.applications__btn {
  padding-left: 20px;
  padding-right: 20px;
}

.applications__store {
  margin-bottom: 10px;
}

.applications__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.applications__link span {
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  white-space: nowrap;
}

.applications__img {
  &--apple {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
  }
}

.applications__discription {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
