.applications {
  width: 100%;
  height: 271px;
  color: @white;
  background-color: @main-bg;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 300px;
    background-color: @transparent;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 90px;
  }
}

.applications__link {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  // padding-left: 17px;
  // padding-right: 18px;

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 29px;
    padding-right: 30px;
    font-size: 21px;
    line-height: 0.86;
    margin-bottom: 41px;
  }
}

.applications__btn {
  padding-left: 17px;
  padding-right: 18px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: 26px;
  margin-bottom: 19px;

  @media (min-width: @desktop-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 10px;
  }
}

.applications__store {
  margin-bottom: 10px;
}

.applications__list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.applications__link span {
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  white-space: nowrap;
}

.applications__img {
  &--apple {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
  }
}

.applications__discription {
  margin-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 300px;
    padding: 0;
    font-size: 18px;
    line-height: 1.33;
  }

  // @media (min-width: @desktop-width) {
  //   margin-top: 0;
  // }
}

.applications__link--apple {
  margin-left: 36px;
}

.applications__link--microsoft {
  margin-right: 36px;
}
