.applications {
  background-color: @main-bc;
  width: 320px;
  max-height: 271px;
  margin-bottom: 50px;
}

.applications__list {
  list-style-type: none;
}

.applications__link {
  color: #ffffff;
  font-family: @font-main;
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 28px;
}

.applications__btn {
  margin-left: 15px;
}

.applications__store {
  margin-bottom: 10px;
}

.applications__link span {
  font-family: @font-main;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}

.applications__img {
  &--apple {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
  }
}

.applications__discription {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
