.contest-form__block {
  border: none;
  text-align: left;
}

.contest-form__input--main {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  padding-top: 22px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 49px;
  border: @form-border;
}

.form-block {
  background-color: @advantages-bg;
  text-align: center;
}

.contest-form__legend {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: @pink;
  line-height: 1.29;
}

.contest-form__label {
  font-weight: 400;
  line-height: 1.67;
  color: @header-bg;
}

.contest-form__label--main {
  margin-left: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-transform: uppercase;
  color: @pink;
}
