.contest-form__button {
  width: 276px;
  height: 59px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  background-color: @form-btn;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
