.page-filter {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: @header-bg;
  line-height: 2.14;
  letter-spacing: normal;
  margin-top: 34px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
    margin-bottom: 72px;
  }
}

.filter__post {
  background-color: @advantages-bg;
}

.page-filter__text {
  width: 267px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 425px;
    font-size: 18px;
    line-height: 1.67;
    padding: 0;
  }
}

.filter__img {
  padding-top: 20px;
  align-items: center;
}

.filter__btn {
  margin-bottom: 12px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  border: solid 3px @pink;
  color: @pink;
  background-color: @advantages-bg;
  line-height: 1;
  align-items: center;
}

.footer__link {
  color: @header-bg;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.29;
}
