.footer-main {
  position: relative;
  z-index: 2;
  top: 2250px;
  text-align: center;
}

.contacts__container h3 {
  font-size: 24px;
  font-weight: 300;
  color: @header-bg;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  color: @header-bg;
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: @pink;
}
