.footer-main {
  width: @width-mobile;
  min-height: 645px;
  text-align: center;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contacts {
  width: @width-mobile;
  max-height: 395px;
  background-color: @white;
  background-position: 0 30px;
}

.contacts__container h3 {
  font-size: 24px;
  font-weight: 300;
  color: @header-bg;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  color: @header-bg;
}

.contacts__link {
  padding: 0 25px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: @pink;
}

.page-footer {
  width: @width-mobile;
  max-height: 284px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 60px;
  background-color: @white;
  border: solid 3px @header-bg;
  opacity: 0.1;
  text-align: center;
  align-items: center;
}

.footer-social__img {
  color: @pink;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
