.footer-main {
  position: relative;
  z-index: 2;
  top: 2416px;
  text-align: center;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}

.contacts {
  width: @width-mobile;
  max-height: 395px;
  background-color: @white;
}

.contacts__container h3 {
  font-size: 24px;
  font-weight: 300;
  color: @header-bg;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  color: @header-bg;
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  color: @pink;
}
