.page-main {
  max-width: 320px;
  background-color: @main-bc;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-main__attachment {
  max-height: 462px;
}

.page-main__title {
  padding-top: 28px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 38px;
  margin-top: 0;
  text-align: center;
  font-family: @font-main;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.page-main__img {
  padding-top: 50px;
  padding-left: 1px;
}

.page-main p {
  min-height: 174px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;

  margin: 0;

  background-color: #ffffff;
  color: #283645;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
}

.page-catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-catalog__item {
  padding-left: 20px;
  padding-right: 20px;
}
