.page-catalog {
  min-height: 165px;
  padding-top: 25px;
  // padding-left: 25px;
  // padding-right: 25px;
  padding-bottom: 5px;
  margin: 0;
  background-color: @white;
  color: @header-bg;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
}

.page-catalog__title {
  padding-top: 29px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 56px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
}

.page-catalog span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.page-catalog__blockquote {
  background-color: @advantages-bg;
  padding-top: 25px;
  padding-bottom: 28px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  align-items: сenter;
}

.page-catalog__cite {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: @header-bg;
  text-align: left;
}

.page-catalog__blockquote span {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  color: @header-bg;
  text-align: left;
}

.page-catalog__text {
  font-size: 14px;
  color: @header-bg;
  font-weight: 400;
  text-align: left;
  padding-left: 20px;
}


.page-catalog__img--panorama {
  margin: 0;
}

.page-catalog__link {
  margin: 0;
}

.page-catalog p {
  font-size: 14px;
  line-height: 2.14;
}

