.page-main {
  max-width: @width-mobile;
  //background-color: @main-bg;
  .bg-img("../img/bg-back-mobile@1x.jpg");
  background-position: center -67px;
  background-size: 320px;
}

.white-background {
  background-color: @white;
  margin: 0;
}

.page-main__attachment {
  min-height: 462px;
  padding-top: 18px;
}

.page-main__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: @white;
}

.page-main__block::before {
  width: @width-mobile;
  height: 314px;
  background-image: url("../source/img/iphone-hand-mobile.png");
}

.page-inner {
  position: absolute;
  top: 313px;
  z-index: 1;
}

.page-catalog__inner {
  margin-top: 92px;
}

.page-catalog__inner p {
  max-width: @width-mobile;
  max-height: 318px;
  background-color: @white;
}

.page-main__img {
  padding-top: 22px;
  padding-left: 1px;
  margin-left: -21px;
}
