.rate {
  position: relative;
  height: 300px;
  text-align: center;
  color: @header-bg;
}

.rate__cell::before {
  content: attr(data-text);
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    content: "";
  }
}

.rate__table {
  position: absolute;
  width: max-content;
  transform: translateX(-265px);
}

.rate__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-transform: uppercase;
  display: none;
}

.rate__cell {
  width: 276px;
}

.rate__transparent {
  background-color: @transparent;
  display: none;
}

.rate__title {
  margin: 0;
  background-color: @header-bg;
  color: @white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;
}

.rate__title span {
  font-weight: 300;
  font-size: 21px;
  text-align: center;
}

.rate__svg {
  width: 27px;
  height: 27px;
}

.rate__svg--yes {
  fill: @yes-green;
}

.rate__svg--no {
  fill: @no-red;
}

.rate__header {
  color: @white;
}
