.review {
  position: relative;
  margin-bottom: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;
  background-color: @white;
  color: @header-bg;
}

.review__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 12px;
  min-height: 318px;

  @media (min-width: @tablet-width) {
    width: 617px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.review__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.review__cite {
  margin: 0;
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.67;
  color: @black;
  min-height: 90px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    min-height: 50px;
    margin-top: 44px;
  }
}

.review__span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: @header-bg;
  }
}

.review__text {
  min-height: 188px;

  @media (min-width: @tablet-width) {
    min-height: 79px;
    margin: 0;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
  }
}

.review__toggle::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid gray;
}