.slider__input {
  display: none;
}

.slider__input--contrast {
  display: block;
}

.slider__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
