.tab__form {
  display: flex;
  flex-direction: column;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.tab__input {
  display: none;
  position: absolute;
  top: 83px;
  padding-left: 3px;
  left: calc(50% - 125px);
  width: 250px;
  bottom: 20px;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    position: static;
    width: 250px;
    bottom: 20px;
  }
}

.tab__input--active::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 2px;
  background-color: @header-bg;
}

.tab__input--active::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 195px;
  width: 15px;
  height: 14px;
  background-color: @white;
  border-radius: 50%;
  border: 2px solid @pink;
}

.tab__label {
  position: relative;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -10px;
    left: -80px;
  }
}

.tab__item {
  @media (min-width: @tablet-width) {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.tab__item--active input {
  display: block;
}

.tab__list {
  position: relative;
  display: flex;
  padding-left: 33px;
  padding-right: 48px;
  margin-bottom: 44px;
  padding-bottom: 60px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.tab__img {
  border: none;
  padding: 0 16px;
  margin-bottom: 42px;
}

.tab__svg--action {
  fill: @pink;
}

.tab__svg {
  @media (min-width: @tablet-width) {
    fill: @pink;
  }
}
