.tab__form {
  display: flex;
  flex-direction: column;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.tab__list {
  position: relative;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 46px;
  padding-bottom: 60px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    padding: 0;
    padding-top: 25px;
    margin-bottom: 31px;
  }
}

// .tab__item {
//   @media (min-width: @tablet-width) {
//     margin-top: 20px;
//     padding-left: 29px;
//     margin-bottom: 27px;
//     border-bottom: 1px solid @tab-brd__item;
//   }
// }

// .tab__item--active::before {
//   content: "";
//   position: absolute;
//   width: 240px;
//   height: 2px;
//   top: 85px;
//   left: 19px;
//   background-color: @header-bg;

//   @media (min-width: @tablet-width) {
//     display: none;
//   }
// }

.tab__item {
  position: relative;
  top: -5px;
  left: 4px;

  @media (min-width: @tablet-width) {
    padding-bottom: 44px;
  }
}

.tab__item--pruning::before {
  display: block;
  content: "";
  position: absolute;
  width: 240px;
  height: 2px;
  top: 85px;
  left: -21px;
  background-color: @header-bg;

  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 202px;
    height: 2px;
    top: 11px;
    left: 56px;
    background-color: @header-bg;
  }
}

.tab__item--fill::before {
  @media (min-width: @tablet-width) {
    display: block;
    content: "";
    position: absolute;
    width: 202px;
    height: 2px;
    top: 10px;
    left: 56px;
    background-color: @header-bg;
  }
}

.tab__item--contrast::before {
  @media (min-width: @tablet-width) {
    display: block;
    content: "";
    position: absolute;
    width: 202px;
    height: 2px;
    top: 6px;
    left: 56px;
    background-color: @header-bg;
  }
}

.tab-form__button {
  @media (min-width: @tablet-width) {

    width: 260px;
    margin-left: 24px;
    padding-top: 0;
  }
}

.tab__button {
  position: absolute;
  top: 78px;
  right: -127px;
  width: 10px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid @pink;
  background-color: @white;

  &--pruning {
    top: 78px;
    right: -127px;

    @media (min-width: @tablet-width) {
      top: 4px;
      right: -191px;
    }
  }

  &--fill {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      top: 4px;
      right: -70px;
    }
  }

  &--contrast {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      top: 0;
      right: -141px;
    }
  }
}

.tab__img {
  border: none;
  padding: 0 16px;
  margin-bottom: 42px;
}

.tab__svg {
  fill: @header-desk;

  @media (min-width: @tablet-width) {
    width: 26px;
    height: 24px;
    fill: @pink;
  }
}

.tab__svg--action {
  fill: @pink;
}

.tab__svg:focus,
.tab__svg:hover {
  fill: @tab-hover;
}

.tab__tools {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-width: 300px;
  }
}

.tab__effect {
  @media (min-width: @tablet-width) {
    padding-top: 8px;
  }
}
