.main-nav__wrapper {
  background-color: @header-bg;

  @media (min-width: @desktop-width) {
    width: 960px;
    display: flex;
    justify-content: space-between;
    background-color: @transparent;
    margin: 0 auto;
  }
}

.main-nav {
  width: @width-mobile;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    position: absolute;
    min-height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__list {
  min-height: 69px;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.site-list {
  min-height: 255px;
  color: @white;

  @media (min-width: @desktop-width) {
    width: 660px;
    min-height: 110px;
  }
}

.main-nav__item {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid @gray;
  border-bottom: 1px solid @black;

  @media (min-width: @desktop-width) {
    font-weight: 400;
    padding-left: 40px;
    padding-top: 44px;
    padding-bottom: 47px;
    text-transform: none;
    border-bottom: none;
    border-top: none;
  }
}

.main-nav__trigger {
  position: absolute;
  top: 12px;
  right: 11px;
  padding: 8px;
  border: none;
  background-color: @transparent;

  @media (min-width: @desktop-width) {
    display: none;
    top: 20px;
  }
}

.main-nav__trigger--hidden {
  display: none;
}

.site-list__item {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid @gray;
  border-bottom: 1px solid @black;

  @media (min-width: @desktop-width) {
    font-weight: 400;
    padding-left: 40px;
    padding-top: 44px;
    padding-bottom: 47px;
    text-transform: none;
    border-bottom: none;
    border-top: none;
  }
}

.site-list__link {
  padding-top: 20px;
  padding-bottom: 15px;
}

.main-nav__svg {
  display: block;
}
