.main-header {
  min-height: 66px;
  display: flex;
  flex-direction: column;
  background-color: @header-bg;
  box-shadow: @mh-border;
  // .bg-img("bg-back-mobile@1x.jpg");
  // background-position: center -78px;
  color: @header-bg;
  background-size: 100%;

  @media (min-width: @tablet-width) {
    min-height: 109px;
    justify-content: space-between;
    flex-direction: row;
    // .bg-img("bg-back-tablet@1x.jpg");
    // background-position: center -67px;
  }

  @media (min-width: @desktop-width) {
    min-height: 110px;
    // .bg-img("bg-back-desktop@1x.jpg");
    // background-position: center 0;
    background-color: @header-desk;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid @black;

  @media (min-width: @tablet-width) {
    height: 109px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    height: 110px;
    border-bottom: none;
  }
}

.main-header__logo {
  width: 75px;
  height: 69px;
  .bg-img("logo-pink-white-mobile.svg");
  background-position: center;

  @media (min-width: @tablet-width) {
    width: 147px;
    height: 40px;
    .bg-img("logo-pink-white-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
    .bg-img("logo-pink-white-desktop.svg");
  }
}
