.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @header-bg;
  box-shadow: @mh-border;
  color: @header-bg;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-height: 109px;
    border-bottom: none;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    z-index: 2;
    min-height: 110px;
    background-color: @header-desk;
    box-shadow: none;
    width: 100%;
    padding: 0 120px;
    margin: 0;
  }
}

.main-header__logo {
  min-height: 69px;
  padding-top: 22px;
  padding-left: 18px;
  // .bg-img("logo-pink-white-mobile.svg");
  // background-position-x: 20px;
  // background-position-y: center;

  @media (min-width: @tablet-width) {
    min-height: 109px;
    // .bg-img("logo-pink-white-tablet.svg");
    // background-position-x: 20px;
    // background-position-y: 27px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    // padding-top: 42px;
    // padding-left: 165px;
    // min-width: 197px;
    // .bg-img("logo-pink-white-desktop.svg");
    // background-position-x: 40px;
    // background-position-y: center 5px;
  }
}

.main-header__img {
  @media (min-width: @desktop-width) {
    width: 147px;
    height: auto;
    margin: 0 auto;
    margin-top: 35px;
  }
}
