.main-nav__wrapper {
  background-color: @header-bg;
}

.site-list {
  color: @white;
}

.site-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid @gray;
  border-bottom: 1px solid @black;
}

.site-list__link {
  margin-top: 25px;
  margin-bottom: 25px;
}
