.footer-main {
  text-align: center;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 60px;
  background-color: @white;
  border: solid 3px @header-bg;
  opacity: 0.1;
  text-align: center;
  align-items: center;
}

.footer-social__img {
  color: @pink;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
